.infoBar {
    background-color: steelblue;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: whitesmoke;
}

.leftInnerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.leftInnerContainer > h3 {
    margin: 0px 0px 0px 12px;
}

.onlineIcon {
    height: 8px;
    width: 8px;
}